GTY_A6466IP/aurora_64b66b_0_ex/aurora_64b66b_0_ex.gen/
GTY_A6466IP/aurora_64b66b_0_ex/aurora_64b66b_0_ex.ip_user_files/
GTY_A6466IP/aurora_64b66b_0_ex/aurora_64b66b_0_ex.runs/
GTY_A6466IP/IP0/aurora_64b66b_0_ex/aurora_64b66b_0_ex.gen/
GTY_A6466IP/IP0/
GTY_A6466IP/IP1/
ibert_ultrascale_gty_0_ex/ibert_ultrascale_gty_0_ex.gen/
ibert_ultrascale_gty_0_ex/ibert_ultrascale_gty_0_ex.ip_user_files/
ibert_ultrascale_gty_0_ex/ibert_ultrascale_gty_0_ex.runs/
GTY_A6466IP/aurora_64b66b_0_ex/aurora_64b66b_0_ex.cache/
*.jou
*.log
ibert_ultrascale_gty_0_ex/ibert_ultrascale_gty_0_ex.cache/
GTY_A6466IP/aurora_64b66b_0_ex/aurora_64b66b_0_ex.hw/
Aurora6466BIP.rar
GTY_A6466IP.zip
